@import "tailwindcss";

@font-face {
  font-family: 'Gerbil';
  src: url('/fonts/gerbil.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Regular';
  src: url('/fonts/Satoshi-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Satoshi-Bold';
  src: url('/fonts/Satoshi-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}